In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Truth Or Consequences,US,2021-02-04 02:16:06,33.1284,-107.2528,64.99,27,40,17.27
1,1,Albany,US,2021-02-04 02:16:06,42.6001,-73.9662,28.00,64,66,8.01
2,2,Sosva,RU,2021-02-04 02:16:06,59.1766,61.8558,2.55,92,5,3.98
3,3,Mayo,US,2021-02-04 02:16:06,38.8876,-76.5119,39.20,52,20,9.22
4,4,Bonavista,CA,2021-02-04 02:16:06,48.6499,-53.1147,46.00,100,100,4.61

In [5]:
#Get the data types
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [3]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [6]:
# 1. Assign the locations to an array of latitude and longitude pairs.
locations = city_data_df[["Lat", "Lng"]]

# 2. Assign the weights variable to some values.
temperatures = city_data_df["Humidity"]
max_temp = temperatures.max()

# 3. Assign the figure variable to the gmaps.figure() attribute.
fig = gmaps.figure()

# 4. Assign the heatmap_layer variable to the heatmap_layer attribute and add in the locations.
heatmap_layer = gmaps.heatmap_layer(locations, weights=temperatures)

# 5. Add the heatmap layer.
fig.add_layer(heatmap_layer)
# 6. Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [8]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [11]:
# 1. Assign the locations to an array of latitude and longitude pairs.
locations = city_data_df[["Lat", "Lng"]]

# 2. Assign the weights variable to some values.
temperatures = city_data_df["Humidity"]
max_temp = temperatures.max()

# 3. Assign the figure variable to the gmaps.figure() attribute.
fig = gmaps.figure()

# 4. Assign the heatmap_layer variable to the heatmap_layer attribute and add in the locations.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in temperatures])

# 5. Add the heatmap layer.
fig.add_layer(heatmap_layer)
# 6. Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [12]:
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

In [13]:
fig

Figure(layout=FigureLayout(height='420px'))

In [15]:
heat_layer = gmaps.heatmap_layer(locations, weights=temps, dissipating=False, max_intensity=300, point_radius=4)

In [17]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [18]:
# Create a Percent Cloudiness Heatmap
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"] 
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [19]:
# Create a Wind Speed Heatmap
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [20]:
print(city_data_df)

      City_ID                   City Country                 Date      Lat  \
0           0  Truth Or Consequences      US  2021-02-04 02:16:06  33.1284
1           1                 Albany      US  2021-02-04 02:16:06  42.6001
2           2                  Sosva      RU  2021-02-04 02:16:06  59.1766
3           3                   Mayo      US  2021-02-04 02:16:06  38.8876
4           4              Bonavista      CA  2021-02-04 02:16:06  48.6499
...       ...                    ...     ...                  ...      ...
2191     2191                Kendari      ID  2021-02-04 20:29:21  -3.9450
2192     2192                Palauig      PH  2021-02-04 20:29:21  15.4350
2193     2193                 Torbay      CA  2021-02-04 20:29:22  47.6666
2194     2194        Novovorontsovka      UA  2021-02-04 20:29:22  47.5004
2195     2195             Ovre Ardal      NO  2021-02-04 20:29:22  61.3167

           Lng  Max Temp  Humidity  Cloudiness  Wind Speed
0    -107.2528     64.99        27          40       17.27
1     -73.9662     28.00        64          66        8.01
2      61.8558      2.55        92           5        3.98
3     -76.5119     39.20        52          20        9.22
4     -53.1147     46.00       100         100        4.61
...        ...       ...       ...         ...         ...
2191  122.4989     76.17        90         100        2.24
2192  119.9045     76.30        71          96        5.06
2193  -52.7314     46.00       100          90        2.35
2194   33.9175     43.20        86          99       17.36
2195    7.8000      6.80        72           0        8.05

[2196 rows x 10 columns]

In [21]:
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp])
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [25]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [27]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
11,11,Vaini,TO,2021-02-04 02:14:53,-21.2000,-175.2000,84.20,84,75,8.05
12,12,Atuona,PF,2021-02-04 02:13:43,-9.8000,-139.0333,78.17,71,0,9.66
15,15,Arraial Do Cabo,BR,2021-02-04 02:16:08,-22.9661,-42.0278,76.64,86,0,22.35
26,26,Santarem,BR,2021-02-04 02:16:09,-2.4431,-54.7083,75.20,94,20,3.67
29,29,Kapaa,US,2021-02-04 02:14:16,22.0752,-159.3190,75.20,50,20,10.36
30,30,Rikitea,PF,2021-02-04 02:16:10,-23.1203,-134.9692,77.95,72,1,13.89
37,37,Banjar,ID,2021-02-04 02:16:11,-8.1900,114.9675,86.00,70,20,8.05
43,43,Cidreira,BR,2021-02-04 02:16:12,-30.1811,-50.2056,76.75,91,100,10.80
52,52,Kavaratti,IN,2021-02-04 02:16:13,10.5669,72.6420,81.27,63,76,7.25
53,53,Avarua,CK,2021-02-04 02:14:17,-21.2078,-159.7750,86.00,70,40,9.22

In [28]:
preferred_cities_df.count()

City_ID       562
City          562
Country       559
Date          562
Lat           562
Lng           562
Max Temp      562
Humidity      562
Cloudiness    562
Wind Speed    562
dtype: int64

In [29]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

               City Country  Max Temp      Lat       Lng Hotel Name
11            Vaini      TO     84.20 -21.2000 -175.2000
12           Atuona      PF     78.17  -9.8000 -139.0333
15  Arraial Do Cabo      BR     76.64 -22.9661  -42.0278
26         Santarem      BR     75.20  -2.4431  -54.7083
29            Kapaa      US     75.20  22.0752 -159.3190
30          Rikitea      PF     77.95 -23.1203 -134.9692
37           Banjar      ID     86.00  -8.1900  114.9675
43         Cidreira      BR     76.75 -30.1811  -50.2056
52        Kavaratti      IN     81.27  10.5669   72.6420
53           Avarua      CK     86.00 -21.2078 -159.7750

In [34]:
#Set parameters to search for a hotel
params = {
    'radius': 5000,
    'type': 'lodging',
    'key': g_key
}

#Iterate through the data frame
for index, row in hotel_df.iterrows():
    #Get the latitude and longitude
    lat = row['Lat']
    lng = row['Lng']
    
    #Add the latitude and longitude to location key for the params dictionary
    params['location'] = f"{lat},{lng}"
    
    #Use the search term: "lodging" and our latitude and longitude
    base_url = 'https://maps.googleapis.com/maps/api/place/nearbysearch/json'
    #Make request and get the JSON data from the search
    hotels = requests.get(base_url, params=params).json()
    #Grab the first hotel from the results and store the name
    try:
        hotel_df.loc[index, 'Hotel Name'] = hotels['results'][0]['name']
    except (IndexError):
        print('Hotel not found... skipping.')

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [35]:
hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Hotel Name
11,Vaini,TO,84.20,-21.2000,-175.2000,Keleti Beach Resort
12,Atuona,PF,78.17,-9.8000,-139.0333,Villa Enata
15,Arraial Do Cabo,BR,76.64,-22.9661,-42.0278,Pousada Porto Praia
26,Santarem,BR,75.20,-2.4431,-54.7083,Hotel Imperador
29,Kapaa,US,75.20,22.0752,-159.3190,Sheraton Kauai Resort at Coconut Beach
30,Rikitea,PF,77.95,-23.1203,-134.9692,Pension Maro'i
37,Banjar,ID,86.00,-8.1900,114.9675,The Hamsa Resort
43,Cidreira,BR,76.75,-30.1811,-50.2056,Hotel Castelo
52,Kavaratti,IN,81.27,10.5669,72.6420,Hotels in Lakshadweep Islands
53,Avarua,CK,86.00,-21.2078,-159.7750,Paradise Inn

In [36]:
# Add a heatmap of temperature for the vacation spots.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
             max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [37]:
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [38]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} Â°F</dd>
</dl>
"""

# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [39]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))